 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(20deg, #0a73e1, #09d1dd);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 998px;
}

.u-section-1 .u-list-1 {
  width: 570px;
  margin: 0 272px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 959px;
  --gap: 20px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  --radius: 20px;
  filter: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-1 .u-image-1 {
  width: 206px;
  height: 206px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  width: 393px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 562px 154px 0 337px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -29px 222px 0 129px;
}

.u-section-1 .u-form-1 {
  height: 542px;
  margin: -610px 272px 60px 298px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  filter: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-1 .u-form-1 {
    margin-left: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-form-1 {
    margin-right: 150px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 139px;
    margin-left: 322px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 207px;
    margin-left: 114px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 39px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 107px;
    margin-left: 14px;
  }
}