.u-section-1 .u-sheet-1 {
  min-height: 660px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 40px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 475px;
  height: auto;
  width: 570px;
  margin: 41px auto 38px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 11px;
}

.u-section-1 .u-text-2 {
  margin: 2px auto 0 78px;
}

.u-section-1 .u-icon-1 {
  height: 133px;
  width: 133px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 9px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 21px 0 0 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px 0 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px 0 0 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px 0 0 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-icon-1 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-text-3 {
    font-weight: 900;
  }

  .u-section-1 .u-text-4 {
    font-weight: 900;
  }

  .u-section-1 .u-text-5 {
    font-weight: 900;
  }

  .u-section-1 .u-text-6 {
    font-weight: 900;
  }

  .u-section-1 .u-text-7 {
    font-weight: 900;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.1111111111111112rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.1111111111111112rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.1111111111111112rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.1111111111111112rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.1111111111111112rem;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.34375rem;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 575px;
}

.u-section-2 .u-list-1 {
  margin: 0 auto 0 -20px;
}

.u-section-2 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 375px;
}

.u-section-2 .u-container-layout-1 {
  padding: 8px 0;
}

.u-section-2 .u-icon-1 {
  height: 49px;
  width: 49px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 22px auto 0 14px;
  padding: 6px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: -43px 0 0 66px;
}

.u-section-2 .u-shape-1 {
  width: 471px;
  height: 60px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 13px 28px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 0;
}

.u-section-2 .u-icon-2 {
  height: 49px;
  width: 49px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 22px auto 0 14px;
  padding: 6px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: -43px 0 0 66px;
}

.u-section-2 .u-shape-2 {
  width: 471px;
  height: 60px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 13px 28px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 8px 0;
}

.u-section-2 .u-icon-3 {
  height: 49px;
  width: 49px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 22px auto 0 14px;
  padding: 6px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: -43px 0 0 66px;
}

.u-section-2 .u-shape-3 {
  width: 471px;
  height: 60px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 13px 28px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 8px 0;
}

.u-section-2 .u-icon-4 {
  height: 49px;
  width: 49px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 22px auto 0 14px;
  padding: 6px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: -43px 0 0 66px;
}

.u-section-2 .u-shape-4 {
  width: 471px;
  height: 60px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 13px 28px 0 auto;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5625rem;
  letter-spacing: 1px;
  --radius: 20px;
  background-image: linear-gradient(20deg, #0a73e1, #09d1dd);
  margin: 14px auto 60px 355px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 304px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-3 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-4 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-btn-1 {
    transition-duration: 0.5s;
    margin-left: 155px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 54px;
    margin-left: 145px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: -24px;
  }
}

.u-section-2 .u-icon-4,
.u-section-2 .u-icon-4:before,
.u-section-2 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before,
.u-section-2 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before,
.u-section-2 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before,
.u-section-2 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}