 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(20deg, #0a73e1, #09d1dd);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-1 .u-list-1 {
  width: 570px;
  margin: 0 273px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 766px;
  --gap: 20px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  --radius: 20px;
  filter: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 0 0;
}

.u-section-1 .u-image-1 {
  width: 206px;
  height: 206px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 428px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 394px;
  --progress-spacing: 20px;
  --bar-size: 2px;
  --bar-default-color: #c0c0c0;
  --bar-active-color: #6f66ee;
  --step-icon-size: 10px;
  --step-icon-svg-size: 100%;
  --step-icon-border-width: 0px;
  --step-icon-border-radius: 50px;
  --step-icon-border-color: #808080;
  --step-icon-default-color: #d9d9d9;
  --step-icon-done-color: #6f66ee;
  --step-icon-active-color: #6f66ee;
  --step-icon-text-default-color: #ffffff;
  --step-icon-text-done-color: #ffffff;
  --step-icon-text-active-color: #ffffff;
  --step-text-default-color: #b3b3b3;
  --step-text-done-color: #6f66ee;
  --step-text-active-color: #6f66ee;
  --thumb-color: #fd6703;
  --track-color: #c0c0c0;
  --track-active-color: #0a73e1;
  --thumb-hover-color: #e1230a;
  margin: -461px 273px 60px 297px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 500;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 500;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 500;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
  --progress: 100%;
}

.u-section-1 .u-label-4 {
  font-weight: 500;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 500;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
  font-weight: 500;
  font-size: 1rem;
}

.u-section-1 .u-label-6 {
  font-weight: 500;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-1 .u-form-1 {
    margin-right: 173px;
    margin-left: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-form-1 {
    margin-right: 63px;
    margin-left: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}